<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEDBpZprDZ08Ay26gJDEi-pAg5-qNVCbo</string>
	<key>GCM_SENDER_ID</key>
	<string>126876432425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>my-app-33b32</string>
	<key>STORAGE_BUCKET</key>
	<string>my-app-33b32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126876432425:ios:b98885e057b3dae2f98438</string>
</dict>
</plist>